.Products .Banner .box-title {
    top: 30%;
    right: 20%;
}

.Products .box-title button {
    width: 185px;
    height: 50px;
    background-color: white;
    float: right;
}

.Products .box-title button:hover {
    background-color: antiquewhite;
}

.Products .box-container {
    width: 70%;
    background-color: #fff;
}

.Products .Content {
    background-color: #f3f3f3;
}

.Products h4 {
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    color: var(--color);
    position: relative;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: start;
}

.Products h4:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 80%;
    max-width: 10rem;
    border-top: 0.5rem solid #bd945f;
}

.Products .btnViewAll {
    background-color: #fff;
}

.Products .btnViewAll a {
    font-size: 1.2rem;
    position: relative;
    font-family: Gotham-Medium;
    color: black;
}

.Products .btnViewAll a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    right: 0;
    height: 5px;
    background: #bd945f;
    transition: 0.3s linear;
    z-index: 0;
}

.Products .btnViewAll a:hover::after {
    width: 100%;
    left: 0%;
    /* background-color: green ; */
}