.navbar{
    padding: 1rem 10%;
}
.title-banner h1 {
    font-family: Gotham-Ultra, sans-serif;
}

.title-banner span {
    font-family: Gotham-Ultra, sans-serif;
    color: #bd945f;
    font-size: 2.5rem;
}

.title-banner p {
    max-width: 30rem;
    margin-bottom: 0.75rem;
}

.title-banner button {
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #bd945f;
    border: 0.2rem solid #bd945f;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.title-banner {
    padding: 0 10%;
}