.navbar {
    padding: 1rem 10%;
}

.box-container{
    width: 80%;
}
.title-banner{
    top: 10%;
}
.title-banner h1 {
    font-family: Gotham-Ultra, sans-serif;
}

.title-banner span {
    font-family: Gotham-Ultra, sans-serif;
    color: #bd945f;
    font-size: 2.5rem;
}

.title-banner p {
    max-width: 30rem;
    margin-bottom: 0.75rem;
}

.title-banner button {
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #bd945f;
    border: 0.2rem solid #bd945f;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.title-banner {
    padding: 0 10%;
}

.title-banner button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    transition: 0.3s linear;
    z-index: -1;
}

.title-banner button:hover::before {
    width: 100%;
    left: 0;
}

.title-banner button:hover {
    color: #bd945f;
}

.Categories {
    height: 526px;
    background-color: #f3f3f3;
}
.list-categories {
    background-color: #fff;
    position: relative;
    top: -3rem;
    padding: 0rem 3rem;
}
.list-categories a {
    color: #2c2e53;
    background-color: transparent;
}
.list-categories p {
    text-align: center;
    margin-top: 0.5rem;
    font-family: Gotham-Ultra;
}